<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src = "/socket.io/socket.io.js"></script>
    <title>Document</title>
    <script>
        const socket = io();
        let user
     let setUsername = () => {
         socket.emit('setUsername',document.getElementById('name').value)
     }
     socket.on('userExists', (data)=>{
         document.getElementById('error-container').innerHTML =data
     })

     socket.on('userSet', (data)=>{
         user = data.username
         document.body.innerHTML = '<input type = "text" id = "message">\
         <button type = "button" name = "button" onclick = "sendMessage()">Send</button>\
         <div id = "message-container"></div>'
     })

    const sendMessage = () =>{
        let msg = document.getElementById('message').value
        if(msg){
            socket.emit('msg',{message:msg , user :user})
        }
    }
    socket.on('newmsg', function(data) {
         if(user) {
            document.getElementById('message-container').innerHTML += '<div><b>' + 
               data.user + '</b>: ' + data.message + '</div>'
         }
      })
        
     </script>
</head>
<body>
    <div id='error-container'></div>
        <input type="text" id="name" name="name" value="" placeholder="enter a name">
        <button type="button" name="button" onclick="setUsername()">
          let me chat plz !
        </button>
    
</body>
</html>